body{
    position: relative;
    padding: 5% 10% 0 10%;
    font-family: Arial, Helvetica, sans-serif
}
.ribbon{
    padding: 1em 0 1em 10em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar{
      background-color: rgb(9, 131, 224);
      position: fixed;
      filter: brightness(150%);
      left: 0;
      top: 0;
      bottom: 0;
      right: 90%;
  }
  a{
    color: black;
    text-decoration: none;
  }
  .mobile-sidebar{
      background-color: rgb(9, 131, 224);
      position: fixed;
      filter: brightness(150%);
      left: 90%;
      top: 0;
      bottom: 0;
      right: 0;
      width: 250px;
      transform: translateX(100%);
      transition: transform 1s;
  }
  .overlay{
      display: fixed;
      top: 0;
      right:0;
      left: 0;
      bottom: 0;
      background-color: rgba(88, 87, 87, 0.278);
  }
  .active{
      transform: translateX(0%);
  }
  .sidebar ul{
      margin-top: 70%;
      padding: 0;
  }
   .sidebar .dashboard-link{
    border-top: 1px solid rgb(139, 138, 138);  
  } 
  .sidebar ul li{
      list-style-type: none;
      padding: 1em 0 1em 0;
      border-bottom: 1px solid rgb(139, 138, 138);
  }
  .main-header{
      margin: 0;
      display: inline-block;
  }
.Total-tasks-div{
    background-color: blue;
    width: 300px;
    height: 400px;
}
.tasks-assessment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5em;
    height: 10vh;
}
.tasks-assessment div{
    background-color: red;
    height: 200px;
}
.tasks-assessment .Inprogress-task-div{
    margin: 0 2em 0 2em;
}
.hidden{
    display: none;
}