body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: Black;
}

.balances{
    display: flex;
    gap: 2em;
}
.balances .absolute-Balance,.stats{
    min-height: 270px;
    padding: 1em;
    border-radius: 1em;
}
.hide{
    display: none;
}
.total-heading{
    color: white;
}
.forIncome {
    background-color: red;
}
.forExpense{
    background-color: red;
}
.main-container{
    background-color: white;
    height: 100vh;
    padding: 1em;
}
header{
    display: flex;
    justify-content: space-between;
}
header h2{
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}
.updownBtn{
    transition: transform 0.15s;
    vertical-align: middle;
  }
  .updownBtn:hover{
    transform: rotate(180deg)
  }
.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute-Balance{
    background-color: black;
    width: 40%;
}
.stats-container{
    width: 60%;
    display: flex;
    gap: 2em;
}
.forExpense{
    width: 33.3%;
}
.forIncome{
    width: 33.3%;
}
h2,h3{
    margin: 0;
}
  .total-balances{
    color: white;
  }
  