body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f8f8f8
}

.hide{
    display: none;
}

.stats-img{
    width: 30px;
}

.transaction-income, .transaction-expense{
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.transaction-icon{
    width: 50px;
}
.important-info{
    display: flex;
}
.important-info p{
   margin: 0;
   font-family: "DM Sans";
}
.date-category{
    display: flex;
}

  