body{
    position: relative
}
h2{
    text-align: center;
}
form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: clamp(300px, 60%, 800px);
    height: clamp(300px, 60%, 800px);;
    animation-name: scalein;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}
label{
    display: block;
}
input{
    display: block;
    width: 70%;
}
.hidden{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.556);
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
@keyframes fadein {
   0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes scalein {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
.transaction-income, .transaction-expense{
    width: 100px;
    height: 200px;
    background-color: yellow;
    margin-bottom: 2em;
}
.income-category{
    color: green;
}
.expense-category{
    color: red;
}
.active{
    display: block;
}
