body{
    position: relative
}
h2{
    text-align: center;
}
form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: clamp(300px, 50%, 800px);
}
label{
    display: block;
}
input{
    display: block;
    width: 70%;
}
.hidden{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(128, 128, 128, 0.5)
}
.active{
    display: block;
}