body{
    position: relative;
}
h2{
    text-align: center;
}
form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: clamp(300px, 60%, 800px);
    height: clamp(300px, 60%, 800px);;
    animation-name: scalein;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}
label{
    display: block;
}
input{
    display: block;
    width: 70%;
}
.hidden{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.556);
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
@keyframes fadein {
   0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes scalein {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
.transaction-income, .transaction-expense{
    width: 100px;
    height: 200px;
    background-color: yellow;
    margin-bottom: 2em;
}
.income-category{
    color: green;
}
.expense-category{
    color: red;
}
.active{
    display: block;
}
.Insufficient-balance-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
}
.Insufficient-balance-modal h3{
  margin: 0;
}
.Insufficient-balance-modal .close-btn{
    width: 20px;
}
.Insufficient-balance-modal header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
.Insufficient-balance-modal footer{
    padding-right: 1em;
    padding-left: 1em;
}
.cl-btn{
    border-radius: 1em;
    border: none;
    padding: 3px;
}
.Insufficient-balance-modal .error-info{
    max-width: 350px; 
    line-height: 25px;
    color: grey;
}
.okay-btn{
    background-color: red;
    border: none;
    border-radius: 1em;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}